{% extends "layouts/base.html" %}

{% block content %}

  <section class="section section-md bg-gray-200 pb-3">
    <div class="container">
      <div class="row mb-5 mb-lg-6">
        <div class="col-12 col-md-9 col-lg-8 text-center mx-auto">
          <h2 class="h1 mb-4">Our Fun and Creative Team</h2>
          <a
              href="{% url 'staff:staff-create' %}"
              class="btn btn-orange mb-3 mt-2 me-2 me-md-3 animate-up-2"
          >
            <span class="fas fa-user-circle me-2"></span>
            <span class="d-none d-md-inline">
              Add a staff member
            </span>
          </a>
        </div>
      </div>
    </div>
    <figure class="position-absolute bottom-0 left-0 w-100 d-none d-md-block mb-n2">
      <svg class="fill-white" version="1.1" xmlns="http://www.w3.org/2000/svg"
           xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 43.4"
           style="enable-background:new 0 0 1920 43.4;" xml:space="preserve">
        <path
            d="M0,23.3c0,0,405.1-43.5,697.6,0c316.5,1.5,108.9-2.6,480.4-14.1c0,0,139-12.2,458.7,14.3 c0,0,67.8,19.2,283.3-22.7v35.1H0V23.3z"></path>
      </svg>
    </figure>
  </section>

  <section class="section section-sm">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          {% include "includes/search_form.html" %}
          {% if staff_list %}
            <table class="table table-hover">
              <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Username</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Position</th>
                <th scope="col">Email</th>
                <th scope="col">Actions</th>
              </tr>
              </thead>
              <tbody>

              {% for staff in staff_list %}
                <tr>
                  <th scope="row">{{ staff.id }}</th>
                  <td>
                    <div class="d-flex align-items-center">
                      <a href="{% url 'staff:staff-detail' staff.id %}" class="text-info">
                        {{ staff.username }}
                      </a>
                      {% if user.id == staff.id %} (me){% endif %}
                    </div>
                  </td>
                  <td>{{ staff.first_name }}</td>
                  <td>{{ staff.last_name }}</td>
                  <td>
                    {% for position in staff.position.all %}
                      {{ position.name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                  </td>
                  <td>{{ staff.email }}</td>
                  <td>
                    <div class="d-flex">
                      <a href="{% url 'staff:staff-update' staff.id %}">
                        <i class="fas fa-edit mr-3" data-toggle="tooltip" data-placement="top" title="Edit item"></i>
                      </a>
                      <a href="{% url 'staff:staff-delete' staff.id %}">
                        <i class="fas fa-trash text-danger mr-2" data-toggle="tooltip" data-placement="top"
                           title="Delete item"></i>
                      </a>
                    </div>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          {% else %}
            <h3>There are no staff members yet!</h3>
          {% endif %}
        </div>
      </div>
    </div>
  </section>

{% endblock %}
